<ion-view title="'Sign In'">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <form name="signInForm" ng-controller="SignInFormCtrl" ng-submit="signIn()">
      <div class="list">
        <label class="item item-input">
          <input type="text" name="username" placeholder="Username or Email" data-ng-model="username" autofocus required />
        </label>
        <label class="item item-input">
          <input type="password" name="password" placeholder="Password" data-ng-model="password" required />
        </label>
        <button type="submit" class="button button-block button-positive">Sign In</button>
        <button class="button button-block button-assertive" ui-sref="anon.launch">Cancel</button>
      </div>
    </form>
  </ion-content>
</ion-view>
