<ion-view title="'Sign Up'">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <form name="signUpForm" ng-controller="SignUpFormCtrl" ng-submit="signUp()">
      <div class="list">
        <label class="item item-input">
          <input type="text" name="username" placeholder="Username" data-ng-model="username" autofocus required />
        </label>
        <label class="item item-input">
          <input type="email" name="email" placeholder="Email (Optional)" data-ng-model="email" />
        </label>
        <label class="item item-input">
          <input type="password" name="password" placeholder="Password" data-ng-model="password" required />
        </label>
        <button type="submit" class="button button-block button-positive">Sign Up</button>
        <button class="button button-block button-assertive" ui-sref="anon.launch">Cancel</button>
      </div>
    </form>
  </ion-content>
</ion-view>
